@model MusicFall2016.Models.Album

@{ ViewData["Title"] = "Add to Playlist"; }

    <title>Add To Playlist</title>

    <h2>Select the playlist you wish to add to @Model.Title</h2>
<div class="form">
    <form asp-action="AddToPlaylist" class="form-horizontal"> 

        <input type="hidden" asp-for="AlbumID" value="@Model.AlbumID" />

        <div class="form-inline">

            <label asp-for="PlaylistTags" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <select class="form-control" name="PlaylistId" asp-items="ViewBag.PlaylistList"> </select>
             </div>

            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Add</button>
            </div>
  
        </div>       
    </form>
</div>
