@model MusicFall2016.Models.Playlist
@{
    ViewData["Title"] = "Delete Playlist";
}

<h4>Playlist Details</h4>
<h4>Are you sure you want to delete this?</h4>

<div class="dl-horizontal">
    <dl>
        <dt>Title: </dt>
        <dd>
            @Model.Name
        </dd>
    </dl>
    <div>
        <div class="form">
            <form asp-action="DeletePlaylist" class="form-horizontal">
                <input type="submit" value="DeletePlaylist" class="btn btn-danger" />
            </form>
        </div>
        @*<a asp-action="EditAlbum" asp-route-id="@Model.PlaylistId">Edit</a>*@
        <a asp-action="IndexPlaylist">Back</a>
    </div>

</div>
