@{
    ViewData["Title"] = "Home Page";
    //test
}
<div id="home" class="btn-group btn-group-justified" role="group">    
    
        <div class="col-md-4 btn-group" role="group">
            <a class="btn btn-lg btn-info" href="/Albums/IndexAlbum">Go to the albums</a> 
            </div>
        <div class="col-md-4 btn-group">
            <a class="btn btn-lg btn-danger" href="/Artist/IndexArtist">Go to the artists</a>
        </div>
        <div class="col-md-4 btn-group">
            <a class="btn btn-lg btn-warning" href="/Genre/IndexGenre">Go to the genres</a>
        </div>
</div>